<div id="cookieConsent" class="cookieConsent tc-privacy-override">
  <div
    id="footer_tc_privacy"
    class="tc-reset-css tc-privacy-banner tc-privacy-footer"
  >
    <div
      id="footer_tc_privacy_container_text"
      class="tc-reset-css tc-privacy-block-text"
    >
      <div id="footer_tc_privacy_text" class="tc-reset-css tc-privacy-text">
        <p>
          By continuing to browse our website, you agree to the use of cookies
          that will allow us, as well as our partners, to offer you offers,
          services, content, personalized advertising, and analyze visits and
          the performance of the website.
        </p>
      </div>
    </div>
    <div
      id="footer_privacy_container_button"
      class="tc-reset-css tc-privacy-block-button"
    >
      <button
        id="footer_privacy_button"
        class="tc-reset-css tc-privacy-button"
        title="J'accepte"
        type="button"
      >
        I agree
      </button>
    </div>
  </div>
</div>
